body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-size: calc(0.75rem + 0.50 * ((100vw - 20rem) / 80));
}

#gameContainer {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-between; */
  gap: 3px;
  height: 100vh;
}

#layerGame {
  border: 5vh solid hsl(28, 55%, 55%);
  border-radius: 20px;
  touch-action: none;
  flex: 0 0 auto;
}

#layerUI {
  position: absolute;
  z-index: 3;
}

#panel {
  padding: 0 0.5em 0 0.5em;
  background-color: hsl(45, 80%, 93%);
  width: 200px;
  /* min-width: 175px; */
  /* max-width: 225px; */
  height: 100vh;

  font-family: Arial;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 0.8em;
}

.colorManager {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* height: 25%; */

  flex: 1 1 auto;
}


/* TODO add requirement for tall enough aspect ratio*/
@media screen and (max-aspect-ratio: 3 / 4) {
  #gameContainer {
    flex-flow: column nowrap;
  }
  #layerGame {
    border: 5vw solid hsl(28, 55%, 55%);
  }

  #panel {
    padding: 0.5em 0 0.5em 0;
    width: 100vw;
    height: 200px;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .jail {
    order: 1;
  }
  
  .turn-indicator {
    order: -2;
  }

  .turn-passButton {
    order: -1;
  }

  .jailCell {
    max-width: 20%;
  }

  .colorManager {
    justify-content: flex-start;
    width: 30%;
  }
}


.jail {
  margin: 5px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  /* flex: 1 1 auto; */
  border: 1px dashed purple;
}

/* #jailBlack {
  align-content: flex-start;
  flex-flow: row wrap-reverse;
} */

.jailCell {
  padding: 0;
  margin: 0;
  width: 32%;
  /* height: 24%; */
  border: 1px dotted red;
  flex: 0 1 auto;
}

.turnContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.3em;
  /* border: 1px dotted green; */
}

.turn-indicator {
  width: 1.25em;
  height: 1.25em;
  background: grey;
  border-radius: 50%;
  flex: 0 0 auto;
}

button {
  margin: 0 0.3em 0 0.3em;
  padding: 0.5em;
  font-size: larger;
  font-family: Arial;
  border-radius: 6px;
  border: none;
  box-shadow: 0 5px 10px hsl(0, 0%, 40%);
}

button:hover {
  background-color: hsl(59, 100%, 73%);
}

.turn-passButton {
  flex: 1 1 auto;
  background-color: lightgray;
}

.turn-passButton.active {
  background-color: hsl(210, 90%, 85%);

}

#newMatchButton {
  margin: 0.6em 0.3em 0.6em 0.3em;
  background-color: white;
}

#infobox {
  min-height: 10em;
  padding: 0.3em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  /* gap: 0.3em; */

  border-top: 3px double black;
  border-bottom: 3px double black;
}

#info-score {
  padding: 0.3em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  /* border: 1px dotted green; */
  border-bottom: 1px solid black;
}

#info-score-red {
  color: red;
}

#info-score-black {
  color: black;
}

#info-game {
  padding: 0.3em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  /* border: 1px dotted orange; */
  border-bottom: 1px solid black;
}

#info-status {
  position: relative;
  width: 11.5em;
  min-height: 6em;
  margin: 0.5em 0 0.5em 0.5em;
  padding: 0.7em;
  font-size: smaller;
  background: white;
  border-radius: 15px;
  /* flex: 1 1 auto; */
  /* border: 1px dotted orange; */
}

#info-status:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 1em;
  width: 0;
  height: 0;
  border-top: 0.7em solid transparent;
  border-right: 1.2em solid white;
  border-bottom: 0.7em solid transparent;
}

@media screen and (min-width: 980px) {
  body {
    font-size: 1rem;
  }
}