body {
  margin: 0;
  padding: 10px;
  font-family: Arial;
  background-color: black;
  color: white;
}
#gameBody {
  background-color: white;
}
#gameCanvas {
  touch-action: none;
}
.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
form {
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
}
button {
  margin: 25px;
  font-size: x-large;
  background-color: green;
  color: gold;
  font-weight: bold;
  border-radius: 10px;
  border: 5px solid gold;
}
fieldset {
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
}
.superheader {
  display: flex;
  flex-flow: column nowrap;
}
.header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#topDiscs, #botDiscs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.group > div {
  width: 100%;
  font-size: larger;
}

@media screen and (min-width: 600px) {
  body {
    width: 600px;
  }
  
  .contentContainer {
    padding: 1rem;
  }
} 